<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    .red{
      color: red;
    }

    .red:hover{
      cursor: pointer;
    }

    .completado{
      text-decoration: line-through;
      color: green;
    }
  </style>
</head>

<body>
  
  <div id="app">
    <h2>Listado de tareas</h2>
    <ul>
      <li
      class="red"
        v-bind:class="{completado: tarea.completado}" 
        @click="completarTarea(tarea)"
        v-for="tarea in tareas"
      >
        {{tarea.titulo}}
      </li>
    </ul>
    <hr>
    <pre>
      {{tareas}}
    </pre>
    <input type="text" v-model="valor">
    <p>valor: {{valor}}</p>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

        const app = new Vue({
          el: "#app",
          data:{
            valor: '',
            tareas:[
              {titulo:'Tarea 1', completado:false},
              {titulo:'Tarea 2', completado:false},
              {titulo:'Tarea 3', completado:false},
              {titulo:'Tarea 4', completado:false},
              {titulo:'Tarea 5', completado:false},
            ]
          },
          methods:{
            completarTarea(tarea){
              tarea.completado = !tarea.completado;
            }
          }
        })


  </script>
</body>

</html>